In [1]:
import pandas as pd

# ABoVE: Atmospheric Gas Concentrations from Airborne Flasks, Arctic-CAP, 2017
This dataset provides atmospheric carbon dioxide (CO2), methane (CH4), carbon monoxide (CO), molecular hydrogen (H2), nitrous oxide (N2O), sulfur hexafluoride (SF6), and other trace gas mole fractions (i.e. "concentrations") from flights over Alaska and the Yukon and Northwest Territories of Canada during the Arctic Carbon Aircraft Profile (Arctic-CAP) monthly sampling campaigns from April-November 2017. The data were derived from laboratory measurements of whole air samples collected by Programmable Flask Packages (PFP) onboard the aircraft. During each of the six monthly campaigns, flights over the Arctic-Boreal Vulnerability Experiment (ABoVE) domain included 25 vertical profiles, from the surface up to 6 km altitude, at locations selected to complement regular long-term vertical profiles, remote sensing data, and ground-based flux tower measurements. Measurements were initiated by the aircraft pilot at predetermined locations within each profile in order to evenly distribute flask sampling points throughout each flight. A total of 408 flask samples were collected during 55 individual flights. The measurements included in this data set are crucial for understanding changes in Arctic carbon cycling and the potential threats posed by thawing of Arctic permafrost.

In [2]:
df = pd.read_csv("./data/ABoVE_Atmospheric_Flask_Data_1717/data/ABoVE_april-nov_2017_flask_data.csv")

In [3]:
df.shape

(408, 222)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also

In [7]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sample_year,408,NaN,NaN,NaN,2017,0,2017,2017,2017,2017,2017
sample_month,408,NaN,NaN,NaN,7.54412,1.77562,4,6,7,9,11
sample_day,408,NaN,NaN,NaN,15.7672,8.02007,1,9,17,21,31
sample_hour,408,NaN,NaN,NaN,17.6324,6.78574,0,18,20,21,23
sample_minute,408,NaN,NaN,NaN,28.6176,17.1875,0,14,28,42,59
...,...,...,...,...,...,...,...,...,...,...,...
SF6_HATS_analysis_flag,408,3,...,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SO2F2_parameter_formula,408,1,SO2F2,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SO2F2_analysis_group_abbr,408,1,HATS,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SO2F2_analysis_value,408,NaN,NaN,NaN,-5.19532,85.7238,-999.99,2.155,2.1975,2.24025,2.455
SO2F2_analysis_flag,408,4,...,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['sample_year', 'sample_month', 'sample_day', 'sample_hour',
       'sample_minute', 'sample_seconds', 'sample_id', 'sample_method',
       'sample_latitude', 'sample_longitude',
       ...
       'SF6_CCGG_analysis_value', 'SF6_CCGG_analysis_flag',
       'SF6_HATS_parameter_formula', 'SF6_HATS_analysis_group_abbr',
       'SF6_HATS_analysis_value', 'SF6_HATS_analysis_flag',
       'SO2F2_parameter_formula', 'SO2F2_analysis_group_abbr',
       'SO2F2_analysis_value', 'SO2F2_analysis_flag'],
      dtype='object', length=222)